:root {
    --bg: #12313D;
    --rd: 30px;
    --bg-btn: #CF352B;
    --deg: rgba(0, 0, 0, 0.632);
    --color: #43606B;

    --product-bg-1: #385764;
    --product-bg-2: #5b84a1;
    --accent-green: #4f7c8e;
    --text-color: #ffffff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Archivo Black", sans-serif; 
    background-color: var(--product-bg-1);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-container {
    box-shadow: 0 10px 30px #12313d99;
    border-radius: 5px;
    overflow: hidden; 
}

.login-box {
    display: flex;
    width: 900px; 
    height: 600px;
    position: relative;
    transition: background-color 0.5s ease-in-out; 
}

.login-form {
    flex: 1; 
    background-color: var(--bg);
    color: white;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s, transform 0.5s;
    position: relative;
    z-index: 2;
}

.login-form h1 {
    font-size: 3em;
    margin-bottom: 5px;
    font-weight: 400; 
    margin-bottom: 30px;
}
.input-group {
    margin-bottom: 30px;
}

.input-group label {
    font-size: 0.8em;
    color: white;
    letter-spacing: 2px;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    font-size: 1em;
    outline: none;
}
.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    font-size: 0.85em;
    color: var(--soft-gray);
}

.options-row a.forgot-password {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.remember-me label {
    color: var(--product-bg-1);
}
.login-btn {
    background-color: var(--product-bg-1);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-transform: uppercase;
    width: 100%;
}

.login-btn:hover {
    background-color: var(--product-bg-2);
}
.or-separator {
    text-align: center;
    margin: 20px 0;
}

.signup-form .signup-btn {
    margin-top: 10px; 
}
.error-message {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.switch-form {
    text-align: center;
    margin-top: 15px;
    color: white;
}
.switch-form a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.switch-form a:hover {
    text-decoration: none;
    margin-top: 10px;
    color: black;
}


