/*Reglas de diseño para tablet*/
@media(min-width:600px) and (max-width: 1023px){
    section#home .nap{
    font-size: 1.25rem;
}
.icon{
    padding-left: 10px;
    width: 25px;
    margin: 5px;
}
.search{
    width: 200px;
    height: 30px;
}
section#home header div nav ul li a{
    font-size: .6rem;
}
.txt1{
    font-size: 3.5rem;
}
.cuerpo img{
    height: 250px;
    top: 150px;
    left: 300px;
    width: 500px;
}
.texto{
    width: 500px;
}
.cuerpo button{
    width: 150px;
    height: 50px;
    font-size: 1rem;
}
}
/*Reglas de diseño para telefono*/
@media (max-width: 599px){
section#home{
    justify-content: space-between;
}
.top{
    margin-top: 20px;
}
.nap{
    margin-left: -30px;
}
section#home .nap{
    font-size: .80rem;
}
.icon{
    margin-top: 2px;
    padding-left: 2px;
    width: 10px;
}
.search{
    width: 80px;
    height: 15px;
}
.menuu{
   display: none;
}

  .mobile-menu {
    display: block;
    width: 100%;
    position: sticky; 
    bottom: 0;
    top: auto;
    background-color: rgba(0, 0, 0, 0.632);
    border-top: 1px solid #ccc; 
    padding: 10px 0;
    z-index: 1000; 
}
  .mobile-menu ul {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .mobile-menu li {
    text-align: center;
    flex-basis: 33.33%; 
  }

  .mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 5px;
    display: block; 
  }
  

.iconos{
    display: flex;
    margin-top: -8px;
    width: 10px;
}
.iconos img{
    padding-right: 15px;
}
.txt1{
    padding-left: -20px;
    margin-top: 350px;
    font-size: 2.5rem;
}
.cuerpo img{
    height: 200px;
    top: 150px;
    left: 0px;
    width: 400px;
}
.texto{
    width: 500px;
}
.cuerpo button{
    width: 130px;
    height: 35px;
    font-size: .8rem;
    border: none;
} 
section#stock header{
    margin-left: -20px ;
    font-size: 1rem;
}  
.producto {
    width: 300px;
    height: 200px;
}
.info-producto h4 {
    font-size: 1em;
}
.info-producto h5{
    font-size: .8rem;
    margin-top: 15px;
}
.info-producto .precio {
    font-size: 1em;
}
.añadir {
    font-size: 1.5rem;
    width: 30px;
    height: 30px;
    margin-left: 230px;
    margin-top: -80px;
}
.yoss{
    font-size: 1.5rem;
    margin-left: -30px;
}
.p-yoss button{
    font-size: 2rem;
    width: 40px;
    height: 40px;
    margin-top: 70px;
}
.p-yoss a{
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-size: .5rem;
}
}