*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Bricolage Grotesque", sans-serif;
}
button{
    font-weight: bold;
    border-radius: 15px;
    height: 40px;
    padding-top: 10px;
    width: 110px;
    padding-bottom: 20px;
    border: none;
    color: white;
    background: #0d232b;
    text-transform: uppercase;
    /*box-shadow: 5px 5px rgba(131, 65, 168, 0.411);*/

}
section#home{   
    height: 100vh;
    background: #0d232b;
background: linear-gradient(90deg, #0d232b 0%, rgba(27, 135, 143, 1) 50%, rgba(24, 238, 242, 1) 100%);
    padding-left: 50px; 
    padding-right: 50px;


}
section#home header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
section#home header div h1{
    color: white;;
}
section#home header nav ul{
    display: flex;
    gap: 10px;
    margin-top: 13px ;
}
section#home header nav ul li{
    list-style: none;
}
section#home header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
section#home #content{
    height: 100vh;
    display: flex;
    color: white;
}
section#home  > #content > div{
    flex: 1;
}
section#home #content h2{
    width: 80%;
    font-size: 4rem;
    color: white;
    margin-top: 180px;
}
#buttons{
    display: flex;
    gap: 10px;
    padding-top: 50px;
}
#buttons > div{
    width: 160px !important;
}
#buttons #btn1{
    box-shadow:none;
    background-color:#0d232b;
}
#buttons #btn2{
    box-shadow:none;
    background-color: transparent;   
    border: 2px solid #0d232b;
}
#img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img img{
    border-radius:50%;
    height: 350px;
    width: 350px;
    border: 1px solid white;
    box-shadow: 0 0 100px #324850;
}
