:root{
    --bg: #12313D;
    --rd: 30px;
    --bg-btn: #CF352B;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--bg);
    font-family: "Exo 2", sans-serif;
}
.top{
    display: flex;
    padding-left: 50px;
    margin-top: 50px;
    justify-content: space-between;
}
section#home .nap{
    font-family: "Irish Grover", system-ui;
    font-size: 2.5rem;
    color: white;
}
.icon{
    padding-left: 10px;
    width: 30px;
    margin: 5px;
}
.search{
    width: 500px;
    height: 40px;
    background-color: white;
    border-radius: var(--rd);
}
section#home header nav ul{
    display: flex;
    gap: 10px;
    margin-top: 13px ;
}
section#home header div nav ul li{
    list-style: none;
}
section#home header div nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.menu{
    display: flex;
    gap: 20px;
    margin-right: 50px;
}
.iconos{
    padding-left: 5px;
    margin-top: 10px;
}
.txt1{
    margin-top: 70px;
    padding-left: 50px;
    color: white;
    font-size: 5.5rem;
}
.cuerpo{
    display: flex;
}
.cuerpo img{
    height: 650px;
    position: absolute;
    left: 400px;
    top: 100px;
    width: 1200px;
}
.texto{
    width: 600px;
}
.cuerpo button{
    margin-left: 50px;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background-color: var(--bg-btn);
    font-size: 1.5rem;
    color: white;
    border-radius: var(--rd);
}